* {
  margin: 0;
}

#admin {
  position: absolute;
  padding: 10px;
}

body {
  font: 10px sans-serif;
  color: #aaa;
  background: #181818;
}

.radial-grid {
  stroke: #666;
  fill: none;
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3000ms;
  -webkit-animation-delay: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

/* Chrome syntax */
@-webkit-keyframes pulse_animation {
  20% {stroke-width: 0;}
  45% {
    stroke-width: 1;
    stroke: white;}
  60% {stroke-width: 0;}
  75% {
    stroke-width: 1;
    stroke: white;}
  90% {stroke-width: 0;}
}

/* Standard syntax */
@keyframes pulse_animation {
  20% {stroke-width: 0;}
  45% {
    stroke-width: 1;
    stroke: white;}
  60% {stroke-width: 0;}
  75% {
    stroke-width: 1;
    stroke: white;}
  90% {stroke-width: 0;}
}
