body {
  font: 10px sans-serif;
  color: #aaa;
  background: #181818;
}

#circles {
  text-align: center;
}

#circles div {
  display: inline-block;
  border-radius: 50%; 
  position: relative;
  top: 50%;

  transform: translateY(50%);

}

.radial-grid {
  stroke: #fff;
  fill: none;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  20% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.1); }
  50% { -webkit-transform: scale(1.05); }
  60% { -webkit-transform: scale(1.1); }
  70% { -webkit-transform: scale(1); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}
